@using Lexeme.Models
@model WordViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>The Siberian Tatar Language</h4><br />
<div align="left">
    <table width="500" border="0" cellpadding="10" cellspacing="0">
        <tr>
            <td width="50%" align="left" valign="top">
                <div style="font-family:Arial">
                    @using (Html.BeginForm())
                    {
                        @Html.ListBoxFor(m => m.SelectedWordText, Model.Words, new { size = 16 })
                        <br />
                        <br />
                        <br />
                        <input type="submit" value=" See Info " />
                    }
                </div>
            </td>
            <td width="50%" align="left" valign="top">
                @if (ViewBag.Message != null)
                {
                    Model.GetWordByIdSty(@ViewBag.Message);
                <p>
                    <b>Selected word:</b> @Model.WordsText<br />
                    <b>Word (Common Turkic Alphabet):</b> @Model.SpeakerWordTextLatin<br />
                    <b>Translation in English:</b> @Model.SpeakerEnTranslate<br />
                    <b>Translation in Russian:</b> @Model.SpeakerRuTranslate<br />
                    <b>Translation in Turkish:</b> @Model.SpeakerTrTranslate<br />
                    <b>Morphology:</b> @Model.SpeakerMorph<br />
                    <b>Comments:</b> @Model.SpeakerComments<br />
                    <b>Speaker Info:</b> @Model.SpeakerPersonalInfo<br />
                    <b>Interviwer:</b> Ivan Ubaleht<br />
                    <b>Place, Date:</b> @Model.RecContext<br />
                    <br />
                    <b>Get the word's context:</b> @Html.ActionLink("Get context", "Context", "SiberianTatar", new { word = @ViewBag.Message }, htmlAttributes: null)
                </p><br />
                    <audio id="myAudio">
                        <source src="/Content/@Model.AudioFileName#t=@Model.Start.ToString(),@Model.Finish.ToString()" type="audio/wav">
                        Your browser does not support the audio element.
                    </audio>
                    <p></p>
                    <p>
                        <button onclick="playAudio()" id="playButton" type="button">Play Audio</button><br />
                        <div id="label1">Click the button to play the audio.</div><div id="label2" hidden>Click the button "See Info" to play the audio again.</div>
                    </p>
                    <!--<button onclick="pauseAudio()" type="button">Pause Audio</button>-->
                    <script>
                        var x = document.getElementById("myAudio");
                        var playButton = document.getElementById("playButton");
                        var label1 = document.getElementById("label1");
                        var label2 = document.getElementById("label2");

                        function playAudio() {
                            x.play();
                            playButton.disabled = true;
                            label1.hidden = true;
                            label2.hidden = false;
                        }

                        function pauseAudio() {
                            x.pause();
                        }

                    </script>
                }
            </td>
        </tr>
    </table>
</div>

