@using Lexeme.Models
@model FragmentViewModel
@{
    ViewBag.Title = "Context";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h4>Context</h4><br />

<!--<p>@Html.ActionLink("Back", "Index", "SiberianIngrianFinnish")</p>-->

@if (ViewBag.Message != null)
{
    Model.GetFragmentByWordId(@ViewBag.Message);
<p>
    <b>Start:</b> @Model.Start<br />
    <b>Finish:</b> @Model.Finish<br />
    <b>File Name:</b> @Model.FileName<br />
    <b>Speaker Speech:</b> @Model.SpeakerSpeechesByFragment<br />
    <b>Interviewer:</b> @Model.InterviewerSpeechesByFragment<br />
</p>
}

<a href="javascript:void(0);" onclick="history.go(-1);">Back</a>



