@using Lexeme.Models
@model WordViewModel
@{
    ViewBag.Title = "Siberian Ingrian Finnish words";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="font-family:Arial">
    <h2>Index</h2>
    @using (Html.BeginForm())
    {
        @Html.ListBoxFor(m => m.SelectedWordText, Model.Words, new { size = 5 })
        <br />
        <input type="submit" value="Submit" />
    }
</div>

<h2>Selected word:</h2>
<b style="color:red">Word: @ViewBag.Message</b>
@if (ViewBag.Message != null)
{
    Model.GetWordById(@ViewBag.Message);
    <p>
        @Model.Start.ToString() <br />
        @Model.Finish.ToString()

        <audio id="myAudio">
            <source src="/Content/KKM-34-003.WAV#t=@Model.Start.ToString(),@Model.Finish.ToString()" type="audio/wav">
            Your browser does not support the audio element.
        </audio>
    <p>Click the buttons to play or pause the audio.</p>
    <button onclick="playAudio()" type="button">Play Audio</button>
    <button onclick="pauseAudio()" type="button">Pause Audio</button>
    <script>
        var x = document.getElementById("myAudio");

        function playAudio() {
            x.play();
        }

        function pauseAudio() {
            x.pause();
        }
    </script>
    </p>
}

